In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [0]:
from __future__ import absolute_import, division, print_function
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout, Flatten, Reshape
from keras.layers import Convolution2D, MaxPooling2D
from keras.utils import np_utils
import pickle
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/compat/v2_compat.py:68: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
data = pd.read_csv('/content/drive/My Drive/8dec/project/Churn.csv')

In [35]:
data

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [0]:
#2. Drop the columns which are unique for all users like IDs (2.5 points)

In [0]:
X = data.iloc[:, 3:13].values

In [0]:
y = data.iloc[:, 13].values

In [0]:
#Distinguish the feature and target set (2.5 points)

In [10]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [11]:
y

array([1, 0, 1, ..., 1, 1, 0])

In [0]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [0]:
labelencoder_X_1 = LabelEncoder()

In [0]:
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])

In [0]:
labelencoder_X_2 = LabelEncoder()

In [0]:
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])

In [17]:
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [0]:
#4. Divide the data set into train and test sets

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [0]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
#Now let’s make the ANN

In [0]:
import keras
from keras.models import Sequential

In [0]:
from keras.layers import Dense

In [0]:
#6. Initialize & build the model (10 points)
#Initializing the ANN…
So there are actually 2 ways of initializing a deep learning model
— — — 1)Defining each layer one by one
— — — 2)Defining a Graph
We did not put any parameter in the Sequential object as we will be defining the Layers manually

In [23]:
classifier = Sequential()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [0]:
#Adding the input layer and the first hidden layer…
#Here avg= (11+1)/2==>6 So set Output Dim=6
#Init will initialize the Hidden Layer weights uniformly
#Activation Function is Rectifier Activation Function(Relu)

In [24]:
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [25]:
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [26]:
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [0]:
#Compiling the ANN

In [27]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [28]:
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Epoch 1/100
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

8000/8000 [==============================] - 2s 227us/step - loss: 0.4853 - acc: 0.7956
Epoch 2/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.4290 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.4232 - acc: 0.7960
Epoch 4/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.4184 - acc: 0.8154
Epoch 5/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.4155 - acc: 0.8259
Epoch 6/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4137 - acc: 0.8305
Epoch 7/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4120 - acc: 0.8325
Epoch 8/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.4106 - acc: 0.8326
Epoch 9/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4101 - acc: 0.8334
Epoch 10/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.4089 - acc: 0.8345
Epoch 11/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.4077 - acc: 0.8350
Epoch 12/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4069 - acc: 0.8341
Epoch 13/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.4064 - acc: 0.8352
Epoch 14/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.4056 - acc: 0.8356
Epoch 15/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4049 - acc: 0.8347
Epoch 16/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.4049 - acc: 0.8347
Epoch 17/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.4043 - acc: 0.8332
Epoch 18/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4031 - acc: 0.8354
Epoch 19/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.4026 - acc: 0.8354
Epoch 20/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4020 - acc: 0.8337
Epoch 21/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4012 - acc: 0.8357
Epoch 22/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3999 - acc: 0.8347
Epoch 23/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3997 - acc: 0.8347
Epoch 24/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3990 - acc: 0.8359
Epoch 25/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.3986 - acc: 0.8362
Epoch 26/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3982 - acc: 0.8365
Epoch 27/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.3975 - acc: 0.8357
Epoch 28/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3968 - acc: 0.8347
Epoch 29/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3969 - acc: 0.8359
Epoch 30/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3962 - acc: 0.8365
Epoch 31/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3964 - acc: 0.8347
Epoch 32/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3954 - acc: 0.8367
Epoch 33/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.3954 - acc: 0.8367
Epoch 34/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3956 - acc: 0.8366
Epoch 35/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3951 - acc: 0.8365
Epoch 36/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3944 - acc: 0.8365
Epoch 37/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3946 - acc: 0.8364
Epoch 38/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.3953 - acc: 0.8364
Epoch 39/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3944 - acc: 0.8371
Epoch 40/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.3948 - acc: 0.8370
Epoch 41/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3943 - acc: 0.8355
Epoch 42/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.3935 - acc: 0.8372
Epoch 43/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.3940 - acc: 0.8364
Epoch 44/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3935 - acc: 0.8371
Epoch 45/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3939 - acc: 0.8355
Epoch 46/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.3936 - acc: 0.8385
Epoch 47/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.3935 - acc: 0.8371
Epoch 48/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3936 - acc: 0.8369
Epoch 49/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3933 - acc: 0.8374
Epoch 50/100
8000/8000 [==============================] - 1s 141us/step - loss: 0.3936 - acc: 0.8379
Epoch 51/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3936 - acc: 0.8371
Epoch 52/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3932 - acc: 0.8375
Epoch 53/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3931 - acc: 0.8371
Epoch 54/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3924 - acc: 0.8361
Epoch 55/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3932 - acc: 0.8356
Epoch 56/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.3932 - acc: 0.8367
Epoch 57/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3933 - acc: 0.8375
Epoch 58/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3927 - acc: 0.8371
Epoch 59/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3927 - acc: 0.8369
Epoch 60/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3927 - acc: 0.8371
Epoch 61/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3930 - acc: 0.8384
Epoch 62/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.3928 - acc: 0.8370
Epoch 63/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3929 - acc: 0.8372
Epoch 64/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3925 - acc: 0.8379
Epoch 65/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3924 - acc: 0.8390
Epoch 66/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3925 - acc: 0.8397
Epoch 67/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3921 - acc: 0.8392
Epoch 68/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3924 - acc: 0.8389
Epoch 69/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3919 - acc: 0.8385
Epoch 70/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3920 - acc: 0.8392
Epoch 71/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.3910 - acc: 0.8401
Epoch 72/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3911 - acc: 0.8391
Epoch 73/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3904 - acc: 0.8392
Epoch 74/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3901 - acc: 0.8385
Epoch 75/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3887 - acc: 0.8404
Epoch 76/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3871 - acc: 0.8404
Epoch 77/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3857 - acc: 0.8406
Epoch 78/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3832 - acc: 0.8415
Epoch 79/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3805 - acc: 0.8431
Epoch 80/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.3775 - acc: 0.8434
Epoch 81/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.3741 - acc: 0.8437
Epoch 82/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3713 - acc: 0.8454
Epoch 83/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3672 - acc: 0.8479
Epoch 84/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3630 - acc: 0.8490
Epoch 85/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3602 - acc: 0.8499
Epoch 86/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3576 - acc: 0.8519
Epoch 87/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3551 - acc: 0.8520
Epoch 88/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3530 - acc: 0.8536
Epoch 89/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3520 - acc: 0.8536
Epoch 90/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3507 - acc: 0.8549
Epoch 91/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3496 - acc: 0.8561
Epoch 92/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3488 - acc: 0.8549
Epoch 93/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3484 - acc: 0.8559
Epoch 94/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3473 - acc: 0.8575
Epoch 95/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3478 - acc: 0.8544
Epoch 96/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3466 - acc: 0.8587
Epoch 97/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3460 - acc: 0.8581
Epoch 98/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3456 - acc: 0.8564
Epoch 99/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3450 - acc: 0.8570
Epoch 100/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3445 - acc: 0.8570

In [0]:
# Predict the results using 0.5 as a threshold (5 points)

In [0]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [30]:
print(y_pred)

[[False]
 [False]
 [False]
 ...
 [False]
 [False]
 [False]]

In [0]:
#10. Print the Accuracy score and confusion matrix (2.5 points)

In [31]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1503   92]
 [ 200  205]]