In [1]:
# Importing the necessary packages

from zipfile import ZipFile

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

%tensorflow_version 2.x
import tensorflow as tf
print(tf.__version__)

import warnings
warnings.filterwarnings("ignore")

import nltk
import re
from nltk.corpus import stopwords

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import MultiLabelBinarizer

from sklearn.metrics import confusion_matrix, classification_report,f1_score, accuracy_score, recall_score, precision_score

TensorFlow 2.x selected.
2.1.0

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
# Defining the drive project path
project_path = "/content/gdrive/My Drive/9feb/"

In [0]:
# Changing the current directory
os.chdir(project_path)

In [0]:
#1. Load the dataset (5 points)
Tip: As the dataset is large, use fewer rows. Check what is working well on your machine and decide accordingly.

In [0]:
with ZipFile(project_path + "blog-authorship-corpus.zip") as zip_file:
  zip_file.extractall()

In [42]:
blogs_data = pd.read_csv("blogtext.csv")
blogs_data.shape

(681284, 7)

In [43]:
# Using first 10,000 rows of the data

blogs_data_cropped = blogs_data[0:1000]
blogs_data_cropped.shape

(1000, 7)

In [44]:
blogs_data_cropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
id        1000 non-null int64
gender    1000 non-null object
age       1000 non-null int64
topic     1000 non-null object
sign      1000 non-null object
date      1000 non-null object
text      1000 non-null object
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

In [0]:
#2. Preprocess rows of the “text” column (7.5 points)
#a. Remove unwanted characters, b. Convert text to lowercase, c. Remove unwanted spaces, d. Remove stopwords

In [47]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [0]:
stop_words = set(stopwords.words('english'))

In [0]:
for i in range(blogs_data_cropped.shape[0]):
  blogs_data_cropped['text'][i] = re.sub("[^a-zA-Z]", " ", blogs_data_cropped['text'][i])   # Removing unwanted characters
  blogs_data_cropped['text'][i] = blogs_data_cropped['text'][i].lower()   # Lowercase characters
  blogs_data_cropped['text'][i] =  blogs_data_cropped['text'][i].strip()   # Removing unwanted spaces

In [0]:
# Splitting the sentence into words to remove stopwords
blogs_data_cropped['text'] = blogs_data_cropped['text'].apply( lambda t : " ".join(word for word in t.split() if word not in stop_words))

In [51]:
blogs_data_cropped.head(10)

        id  ...                                               text
0  2059027  ...  info found pages mb pdf files wait untill team...
1  2059027  ...  team members drewes van der laag urllink mail ...
2  2059027  ...  het kader van kernfusie op aarde maak je eigen...
3  2059027  ...                                    testing testing
4  3581210  ...  thanks yahoo toolbar capture urls popups means...
5  3581210  ...  interesting conversation dad morning talking k...
6  3581210  ...  somehow coca cola way summing things well earl...
7  3581210  ...  anything korea country extremes everything see...
8  3581210  ...  take read news article urllink joongang ilbo n...
9  3581210  ...  surf english news sites lot looking tidbits ko...

[10 rows x 7 columns]

In [0]:
#3. As we want to make this into a multi-label classification problem, you are required to merge all the label columns together, so that we have all the labels together for a particular sentence (7.5 points)
#a. Label columns to merge: “gender”, “age”, “topic”, “sign”
#b. After completing the previous step, there should be only two columns in your dataframe i.e. “text” and “labels” as shown in the below image

In [54]:
blogs_data_merged = pd.DataFrame(columns = ["text", "labels"])
blogs_data_cropped['age'] = blogs_data_cropped['age'].astype(str)
blogs_data_merged["labels"] = blogs_data_cropped[['gender','age','topic','sign']].apply(lambda x: ','.join(x), axis = 1) 
blogs_data_merged["text"] = blogs_data_cropped["text"]
blogs_data_merged.head()

                                                text                              labels
0  info found pages mb pdf files wait untill team...                 male,15,Student,Leo
1  team members drewes van der laag urllink mail ...                 male,15,Student,Leo
2  het kader van kernfusie op aarde maak je eigen...                 male,15,Student,Leo
3                                    testing testing                 male,15,Student,Leo
4  thanks yahoo toolbar capture urls popups means...  male,33,InvestmentBanking,Aquarius

In [0]:
#4. Separate features and labels, and split the data into training and testing (5 points)

In [0]:
features = blogs_data_merged["text"]
labels = blogs_data_merged["labels"].str.lower()
X_train, X_test, Y_train, Y_test = train_test_split(features, labels, test_size = 0.3, random_state = 47)

In [0]:
#5. Vectorize the features (5 points)
#a. Create a Bag of Words using count vectorizer: i. Use ngram_range=(1, 2) and ii. Vectorize training and testing features
#b. Print the term-document matrix

In [56]:
# Count Vectorizer

vectorizer_model = CountVectorizer(ngram_range = (1, 2), stop_words = "english")

train_data_features = vectorizer_model.fit_transform(X_train)
test_data_features = vectorizer_model.transform(X_test)

train_data_features = train_data_features.toarray()
test_data_features = test_data_features.toarray()

# Document term matrix
print(pd.DataFrame(train_data_features))

     0      1      2      3      4      ...  91064  91065  91066  91067  91068
0        0      0      0      0      0  ...      0      0      0      0      0
1        0      0      0      0      0  ...      0      0      0      0      0
2        0      0      0      0      0  ...      0      0      0      0      0
3        0      0      0      0      0  ...      0      0      0      0      0
4        0      0      0      0      0  ...      0      0      0      0      0
..     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
695      0      0      0      0      0  ...      0      0      0      0      0
696      0      0      0      0      0  ...      0      0      0      0      0
697      0      0      0      0      0  ...      0      0      0      0      0
698      0      0      0      0      0  ...      0      0      0      0      0
699      0      0      0      0      0  ...      0      0      0      0      0

[700 rows x 91069 columns]

In [0]:
#6. Create a dictionary to get the count of every label i.e. the key will be label name and value will be the total count of the label. Check below image for reference (5 points)

In [57]:
vectorizer_model_2 = CountVectorizer(ngram_range = (1, 1), stop_words = "english")
labels_vector = vectorizer_model_2.fit_transform(labels)
vectorizer_model_2.vocabulary_

{'14': 0,
 '15': 1,
 '17': 2,
 '23': 3,
 '24': 4,
 '25': 5,
 '26': 6,
 '27': 7,
 '33': 8,
 '34': 9,
 '37': 10,
 '41': 11,
 '44': 12,
 '45': 13,
 'aquarius': 14,
 'aries': 15,
 'arts': 16,
 'banking': 17,
 'businessservices': 18,
 'cancer': 19,
 'capricorn': 20,
 'communications': 21,
 'education': 22,
 'engineering': 23,
 'female': 24,
 'gemini': 25,
 'indunk': 26,
 'investmentbanking': 27,
 'leo': 28,
 'libra': 29,
 'male': 30,
 'media': 31,
 'non': 32,
 'pisces': 33,
 'profit': 34,
 'recreation': 35,
 'sagittarius': 36,
 'science': 37,
 'scorpio': 38,
 'sports': 39,
 'student': 40,
 'taurus': 41,
 'virgo': 42}

In [0]:
#7. Transform the labels - (7.5 points)
#As we have noticed before, in this task each example can have multiple tags. To deal with such kind of prediction, we need to transform labels in a binary form and the prediction will be a mask of 0s and 1s. For this purpose, it is convenient to use MultiLabelBinarizer from sklearn

#a. Convert your train and test labels using MultiLabelBinarizer

In [58]:
keys = []

for key in vectorizer_model_2.vocabulary_.keys():
  keys.append(key)

keys[0:10]

['male',
 '15',
 'student',
 'leo',
 '33',
 'investmentbanking',
 'aquarius',
 'female',
 '14',
 'indunk']

In [0]:
MLB_model = MultiLabelBinarizer(classes = keys)

In [0]:
labels = [["".join(re.findall("\w",f)) for f in lst] for lst in [s.split(",") for s in labels]]

In [61]:
labels_model = MLB_model.fit(labels) # transforming entire set of lables
labels_model

MultiLabelBinarizer(classes=['male', '15', 'student', 'leo', '33',
                             'investmentbanking', 'aquarius', 'female', '14',
                             'indunk', 'aries', '25', 'capricorn', '17',
                             'gemini', '23', 'non', 'profit', 'cancer',
                             'banking', '37', 'sagittarius', '26', '24',
                             'scorpio', '27', 'education', '45', 'engineering',
                             'libra', ...],
                    sparse_output=False)

In [0]:
Y_train = [["".join(re.findall("\w",f)) for f in lst] for lst in [s.split(",") for s in Y_train]]

In [63]:
Y_train_2 = MLB_model.transform(Y_train)
Y_train_2.shape

(700, 43)

In [0]:
Y_test = [["".join(re.findall("\w",f)) for f in lst] for lst in [s.split(",") for s in Y_test]]

In [65]:
Y_test_2 = MLB_model.transform(Y_test)
Y_test_2[100]

array([1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [0]:
#8. Choose a classifier - (5 points)
#In this task, we suggest using the One-vs-Rest approach, which is implemented in OneVsRestClassifier class. In this approach k classifiers (= number of tags) are trained. As a basic classifier, use LogisticRegression . It is one of the simplest methods, but often it performs good enough in text classification tasks. It might take some time because the number of classifiers to train is large.

#a. Use a linear classifier of your choice, wrap it up in OneVsRestClassifier to train it on every label
#b. As One-vs-Rest approach might not have been discussed in the sessions, we are providing you the code for that

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier

In [0]:
clf = LogisticRegression(solver = 'lbfgs')
clf = OneVsRestClassifier(clf)

In [0]:
#9. Fit the classifier, make predictions and get the accuracy (5 points)
#a. Print the following: i. Accuracy score, ii. F1 score, iii. Average precision score, iv. Average recall score
# Tip: Make sure you are familiar with all of them. How would you expect the things to work for the multi-label scenario? Read about micro/macro/weighted averaging

In [67]:
clf.fit(train_data_features, Y_train_2)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='auto',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [68]:
print("Train Accuracy:", clf.score(train_data_features, Y_train_2))

Train Accuracy: 0.9857142857142858

In [0]:
Y_pred = clf.predict(test_data_features)

In [70]:
print("Test Accuracy:" + str(accuracy_score(Y_test_2, Y_pred)))
print("F1: " + str(f1_score(Y_test_2, Y_pred, average='micro')))
print("F1_macro: " + str(f1_score(Y_test_2, Y_pred, average='macro')))
print("Precision: " + str(precision_score(Y_test_2, Y_pred, average='micro')))
print("Precision_macro: " + str(precision_score(Y_test_2, Y_pred, average='macro')))
print("Recall: " + str(recall_score(Y_test_2, Y_pred, average='micro')))
print("Recall_macro: " + str(recall_score(Y_test_2, Y_pred, average='macro')))

Test Accuracy:0.22333333333333333
F1: 0.6168937329700273
F1_macro: 0.27478691916278347
Precision: 0.8311306901615272
Precision_macro: 0.48662975401868175
Recall: 0.4904679376083189
Recall_macro: 0.217100800285069

In [0]:
#10. Print true label and predicted label for any five examples (7.5 points)

In [0]:
Y_pred_inv = MLB_model.inverse_transform(Y_pred) 
Y_test_2_inv =  MLB_model.inverse_transform(Y_test_2)

In [0]:
print("Prediction of 21st person: \n", Y_pred_inv[21], "\nActual data of 21st person: \n", Y_test_2_inv[21])

In [72]:
print("Prediction of 77th person: \n", Y_pred_inv[77], "\nActual data of 77th person: \n", Y_test_2_inv[77])

Prediction of 77th person:
 ('female', 'indunk')
Actual data of 77th person:
 ('female', 'indunk', '24', 'scorpio')

In [73]:
print("Prediction of 99th person: \n", Y_pred_inv[99], "\nActual data of 99th person: \n", Y_test_2_inv[99])

Prediction of 99th person:
 ('male',)
Actual data of 99th person:
 ('aquarius', 'female', '27', 'education')

In [74]:
print("Prediction of 190th person: \n", Y_pred_inv[190], "Actual data of 190th person: \n", Y_test_2_inv[190])

Prediction of 190th person:
 ('male', '24', 'engineering', 'libra') Actual data of 190th person:
 ('male', '24', 'engineering', 'libra')